<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="/css/profile.css" />
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/auth/logout">Log out</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/">Homepage</a></li>
            </ul>
        </nav>
        <header>
            <h1>Welcome to your profile, <%= user.username %></h1>
        </header>
        <main>
            <p>
                <img src="<%= user.thumbnail %>" />
                This is your thumbnail.
            </p>
        </main>
    </body>
</html>
